.logo{
    padding-top: 20px;
}
.bar{
    padding-top: 20px;

}
.buy-now-button{
    border: none;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;

}
.btn-highlight{
    color: goldenrod;
}
#product{
    padding-top: 50px;
}
.laptop-bottom{
    padding-top: 50px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px grey;
}
.phnbotom{
    padding-bottom: 50px;
}
.btn{
    margin-left: 90px;
}
.last-part{
    text-align: center;
   margin-top: 70px;
}

.first-image{
    background-color:white;
    padding:25px 20px;
    margin:150px 0 0 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px;
}
.second-image{
    background-color: white;
    padding: 25px 20px;
    margin: 50px 0 0 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px;
    
}
.perfume{
    width: 70%;
}